node_modules
.env

# Hardhat files
cache
artifacts
.openzeppelin

# Typechain
typechain
typechain-types

# TypeScript
tsconfig.build.tsbuildinfo

# Script output
logs

# Coverage result files
coverage/
coverage.json

# History
.history

# Artifacts
artifacts
dist

# Logs
*.log
